@import './reset.scss';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.list__methods,
.list__item,
.list__actions {
  list-style: none;
}

.list__methods {
  width: 300px;
}
.list__item {
  width: 250px;
  display: flex;
}

.message {
  font-size: 20px;
  font-weight: 700;
  margin-right: 20px;
}

.action_request {
  margin-left: auto;
}

.get__all,
.get {
  color: green;
}
.post {
  color: rgb(175, 175, 52);
}
.put,
.patch {
  color: blue;
}
.delete {
  color: red;
}
//====================================
.wrapper {
  display: flex;
  margin-top: 50px;
}
.login {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.label {
  border-radius: 25px;
  padding: 5px 20px;
  width: 200px;
  border: 1px solid purple;
  margin-bottom: 10px;
}
.input {
  border: none;
  outline: none;
}

.action {
  border-radius: 25px;
  padding: 5px 20px;
  width: 200px;
  background-color: rgb(170, 45, 170);
  color: white;
  margin-bottom: 10px;
  border: none;
}
.action:hover {
  background-color: rgb(130, 24, 130);
}
.list__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
