.list__methods,
.list__item {
  list-style: none;
}

.list__item {
  width: 250px;
  display: flex;
}

.message {
  font-size: 20px;
  font-weight: 700;
  margin-right: 20px;
}

.action {
  margin-left: auto;
}

.get__all,
.get {
  color: green;
}
.post {
  color: rgb(175, 175, 52);
}
.put,
.patch {
  color: blue;
}
.delete {
  color: red;
}
